body {
    background-color: rgb(187, 236, 252);
    opacity: 0,6;
    

  }

  .tudo{
    font-family: 'Poppins', sans-serif;
  }

  .reader{
    text-align: center;
  }
  h1 {
    font-family: comic;
    color: #000399;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    padding-left: 60px;
    padding-right: 60px;
  }
  
  p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000005;
    padding-left: 60px;
    padding-right: 60px;
  }

  .rd{
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
  }


/* barra de navegação*/

  nav ul {
    list-style-type: none; /*remove os marcadores de lista*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7adbf3;
    font-family: arial;
    font-weight: bold;
  }

  li {
    float: left; /*para flutuar um do lado do outro*/
  }
  
  li a {
    display: inline-block; /*remove a quebra de linhas*/
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
  }

  li a:hover { 
    background-color: #2473e9be; /*muda a cor quando passa o mouse */
  }

  ul {
    border: 1px solid #000000a6; 
    background-color: #4bb8d3;
  }
  
  li a {
    color: #000399;
  }

  /**morango*/
  .image{
    text-align: center;
  }
  img {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;

  }

  .footer {
    margin: 100px;
    text-align: center;
    margin-bottom: 50px;
    text-align: center;
}

.github {
    color: rgb(0, 3, 41);
  }

